<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.coadmin.modules.trace.service.mapper.TraceCmaMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.id, a.receipt_date, a.report_status, a.report_date, a.report_no, a.patient_name, a.patient_gender, a.patient_age, a.patient_no, a.speciman_no, a.speciman_type, a.contact_tel, a.department_name, a.diagnosis, a.doctor_advice, a.chip_id, a.report_tip, a.result, a.report_analysis_opinion, a.conclusion, a.conclusion_details, a.suggest, a.chromosome_region, a.dna_chip, a.result2, a.chromosome_region2, a.conclusion2, a.result3, a.chromosome_region3, a.conclusion3, a.result4, a.chromosome_region4, a.conclusion4, a.inspection_time, a.times_of_pregnancy, a.times_of_birth, a.sign_consent, a.apply_doctor, a.apply_date, a.remarks, a.create_time, a.create_user, a.update_time, a.update_user, a.patient_name_letter
  </sql>
  -->
</mapper>
