<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.coadmin.modules.system.service.mapper.DictDetailMapper">

  <!-- 通用查询结果列 -->

  <sql id="Base_Column_List">
      id, dict_id, label, value, sort, create_by, update_by, create_time, update_time
  </sql>

    <select id="getDictDetailsByDictName" resultType="com.gitee.coadmin.modules.system.service.dto.DictDetailDto">
        SELECT detail.* FROM sys_dict_detail detail
            LEFT JOIN sys_dict dict ON detail.dict_id = dict.id
        WHERE dict.name = #{dictName}
        ORDER BY sort ASC
    </select>
</mapper>
